.price__tables {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 1440px;
  height: 1000px;
  background: #141b1c;
}
.price-card {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  width: 380px;
  height: 770px;
  background-color: #334247;
  margin: 9px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
.price-card:nth-child(1) .price-card__price, .price-card:nth-child(1) .price-card__order-btn {
  background-color: #5bb189;
}
.price-card:nth-child(1) .price-card__title {
  width: 100px;
  margin: 33px 140px;
}
.price-card:nth-child(2) {
  position: relative;
}
.price-card:nth-child(2) .price-card__price, .price-card:nth-child(2) .price-card__order-btn {
  background-color: #3a6ba5;
}
.price-card:nth-child(2) .price-card__title {
  width: 163px;
  margin: 33px 108px;
}
.price-card:nth-child(2) .price-card__title-badge {
  display: flex;
  position: absolute;
  width: 104px;
  height: 104px;
  transform: translate(276px);
  overflow: hidden;
}
.price-card:nth-child(2) .price-card__title-badge__stripe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 147px;
  height: 25.01px;
  background: #dc3f45;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
  position: absolute;
  left: -12%;
  top: 26.71%;
  transform: rotate(45deg);
}
.price-card:nth-child(3) .price-card__price, .price-card:nth-child(3) .price-card__order-btn {
  background-color: #ec632a;
}
.price-card:nth-child(3) .price-card__title {
  width: 176px;
  margin: 36px 102px 33px 102px;
}
.price-card__head {
  display: flex;
}
.price-card__title {
  height: 64px;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.price-card__title-s {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.price-card__price {
  text-align: center;
  width: 100%;
  height: 105px;
  margin: 0;
  padding: 0;
  line-height: 105px;
  font-weight: 700;
  font-size: 55px;
}
.price-card__description {
  width: 327px;
  height: 36px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  margin: 40px 26px;
}
.price-card__options-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.price-card__options-list__contain {
  font-size: 15px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
}
.price-card__options-list__contain:nth-child(odd) {
  background-color: #2a3438;
}
.price-card__options-list__contain-checkmark {
  width: 15px;
  height: 13px;
  margin: auto 22px;
}
.price-card__options-list__contain__description {
  margin: 16px 22px 16px 0;
  display: block;
  width: 300px;
  height: 18px;
  line-height: 18px;
}
.price-card__order-btn {
  color: #fff;
  height: 40px;
  width: 154px;
  border-radius: 20px;
  margin: 39px auto 40px;
  outline: none;
  border: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
