.button {
  display: block;
  width: 155px;
  height: 40px;
  margin: 0 auto;
  line-height: 17px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.corect-weight-description {
  font-weight: 400 !important;
}
