@import 'veriables.scss';
@import 'common.scss';
@import 'price-card';

* {
  box-sizing: border-box;
  line-height: 18px;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: $color-white;
}

.price-cards__container {
  display: flex;
  // justify-content: center;
  background-color: $background-darck-color;
  //_____
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // margin: auto;
}
