@import 'price-card';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}
