.price-card {
  position: relative;
  overflow: hidden;
  width: 380px;
  padding: 33px 0 40px;
  align-items: center;
  // margin-top: 115px !important;
  // margin-bottom: 115px !important;
  margin-right: 18px;
  background: #334247;

  &:last-child {
    margin-right: 0;
    margin-top: 112px;
    margin-bottom: 118px;
  }

  &__title {
    text-align: center;
    margin: 0;
    line-height: 43px;
    font-size: 35px;
  }

  &__subtitle {
    text-align: center;
    margin: 0 0 33px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
  }

  &__price {
    text-align: center;
    padding: 19px 110px;
    margin-bottom: 40px;
    line-height: 67px;
    font-size: 55px;
  }

  &__description {
    text-align: center;
    width: 327px;
    height: 36px;
    margin-bottom: 40px;
    margin-left: 26px;
    margin-right: 26px;
    font-weight: 300;
  }

  &__options-list {
    padding: 0;
    margin: 0 0 39px;
    list-style: none;

    & :nth-child(odd) {
      background-color: #2a3438;
    }
  }

  &__options-list-item {
    padding: 16px 0;
    font-weight: 300;
  }

  &__icon {
    display: inline-block;
    width: 13px;
    height: 13px;
    margin: 0 22px;
  }

  &__badge {
    position: absolute;
    display: block;
    right: -40px;
    top: 34px;
    text-align: center;
    transform: rotate(45deg);
    padding: 2px 50px;
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    background-color: #dc3f45;
  }
}
