.price-card {
  position: relative;
  overflow: hidden;
  width: 380px;
  padding: 33px 0 40px;
  align-items: center;
  margin-right: 18px;
  background: $background-light-darck-color;

  &__title {
    text-align: center;
    margin: 0;
    line-height: 43px;
    font-size: 35px;
  }

  &__subtitle {
    text-align: center;
    margin: 0 0 33px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 300;
  }

  &__price {
    text-align: center;
    padding: 19px 110px;
    margin-bottom: 40px;
    line-height: 67px;
    font-size: 55px;

    &_green {
      background: $color-green;
    }
    &_blue {
      background: $color-blue;
    }
    &_orange {
      background: $color-orange;
    }
  }

  &__description {
    text-align: center;
    width: 327px;
    height: 36px;
    margin-bottom: 40px;
    margin-left: 26px;
    margin-right: 26px;
    font-weight: 300;
  }

  &__options-list {
    padding: 0;
    margin: 0 0 39px;
    list-style: none;

    & :nth-child(odd) {
      background-color: #2a3438;
    }
  }

  &__options-list-item {
    padding: 16px 0;
    font-weight: 300;
  }

  &__icon {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin: 0 22px;

    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
    }

    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
    }

    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
    }
  }

  &__button {
    display: block;
    width: 155px;
    height: 40px;
    margin: 0 auto;
    line-height: 17px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background: $color-green;

    &_green {
      background: $color-green;
    }
    &_blue {
      background: $color-blue;
    }
    &_orange {
      background: $color-orange;
    }
  }

  &__badge {
    position: absolute;
    display: block;
    right: -40px;
    top: 34px;
    text-align: center;
    transform: rotate(45deg);
    padding: 2px 50px;
    line-height: 17px;
    font-size: 14px;
    background-color: $background-red-color;
    text-transform: uppercase;
  }
}

// background-color: $background-light-darck-color !important;
