$color-white: #fff;
$color-green: #5bb189;
$color-orange: #ec632a;
$color-blue: #3a6ba5;
$background-darck-color: #141b1c;
$background-light-darck-color: #334247;

.card_green {
  background: $color-green;
}
.card_blue {
  background: $color-blue;
}
.card_orange {
  background: $color-orange;
}
