$color-white: #fff;
$color-green: #5bb189;
$color-orange: #ec632a;
$color-blue: #3a6ba5;
$background-darck-color: #141b1c;
$background-light-darck-color: #334247;

.card_first {
  background: $color-green;
}
.card_second {
  background: $color-blue;
}
.card_third {
  background: $color-orange;
}
.green_icon {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.blue_icon {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}
.orange-icon {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}
.icon-light-darck {
  background-color: $background-light-darck-color !important;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
}
